body {
    font-family: Arial, sans-serif;
    direction: rtl;
    text-align: center;
    background: #f4f4f4;
    padding: 20px;
}

header {
    background: #8B0000;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.step {
    background: white;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    width: 80%;
}

select {
    padding: 10px;
    width: 70%;
}

button {
    padding: 12px 25px;
    font-size: 16px;
    background: #8B0000;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#result {
    margin-top: 30px;
}
input, select {
    padding: 10px;
    width: 70%;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
}
